[submodule "narf"]
	path = narf
	url = https://github.com/bendavid/narf.git
[submodule "wremnants-data"]
	path = wremnants-data
	url = https://gitlab.cern.ch/cms-wmass/wremnants-data.git
[submodule "combinetf2"]
	path = combinetf2
	url = https://github.com/WMass/combinetf2.git
[submodule "wums"]
	path = wums
	url = https://github.com/WMass/wums.git
