[submodule "narf"]
	path = narf
	url = git@github.com:reimersa/narf.git
[submodule "wremnants-data"]
	path = wremnants-data
	url = ssh://git@gitlab.cern.ch:7999/areimers/wremnants-data.git
[submodule "wums"]
	path = wums
	url = git@github.com:reimersa/wums.git
[submodule "rabbit"]
	path = rabbit
	url = git@github.com:reimersa/rabbit.git
